{% extends "layouts/_authbase.html" %}
{% load static %}

{% block content %}
<div class="register-box">
  <div class="card card-outline card-success">
    <div class="card-header text-center">
      <a href="#">
        <img src="{% static 'images/logodark.png' %}" alt="CírculocorpLogo" width="200">
      </a>
    </div>
    <div class="card-body">
        <h3 class="login-box-msg">¡Has actualizado tu contraseña!</h3>
        <p class="login-box-msg">
            Actualizaste tu contraseña con éxito, ahora puedes iniciar sesión con tu nueva contraseña.
                <a href="{% url 'users:login' %}" class="btn btn-primary mt-2">
                    Iniciar sesión
                </a>
        </p>
    </div>
  </div>
</div>
{% endblock content %}