{% extends "layouts/_authbase.html" %}
{% load static %}

{% block content %}
<div class="register-box">
  <div class="card card-outline card-success">
    <div class="card-header text-center">
      <a href="#">
        <img src="{% static 'images/logodark.png' %}" alt="CírculocorpLogo" width="200">
      </a>
    </div>
    <div class="card-body">
        <h3 class="login-box-msg">¡Hemos enviado las instrucciones!</h3>
        <p class="login-box-msg">
            Revisa tu correo electrónico para restablecer tu contraseña.
            <strong>
                Si no recibes el correo en unos minutos, por favor revisa tu bandeja de spam.
            </strong>
        </p>
    </div>
  </div>
</div>
{% endblock content %}