{% extends "layouts/_base.html" %}

{% block content %}
<form method="post" class="mb-5" id="updateProfile">
    {% csrf_token %}

    <div class="row">

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group col-12 col-lg-6">
            {% for error in form.display_name.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="display_name">
                {{ form.display_name.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.display_name }}
            <small>
                Este nombre será visible en la plataforma.
            </small>
        </div>
    
        <div class="form-group col-12 col-lg-6">
            {% for error in form.names.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="names">
                {{ form.names.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.names }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.pattern_last_name.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="pattern_last_name">
                {{ form.pattern_last_name.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.pattern_last_name }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.mattern_last_name.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="mattern_last_name">
                {{ form.mattern_last_name.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.mattern_last_name }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.phone.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="phone">
                {{ form.phone.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.phone }}
        </div>


        <div class="form-group col-12 col-lg-6">
            {% for error in form.adress.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="adress">
                {{ form.adress.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.adress }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.ext_number.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="ext_number">
                {{ form.ext_number.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.ext_number }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.int_number.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="int_number">
                {{ form.int_number.label}}
            </label>
            {{ form.int_number }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.zip_code.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="zip_code">
                {{ form.zip_code.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.zip_code }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.state.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="state">
                {{ form.state.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.state }}
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.city.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="city">
                {{ form.city.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.city }}
        </div>

        <div class="form-group col-12">
            <label for="colony_select">
                Colonia
                <small class="text-danger">
                    *
                </small>
            </label>
            <select name="colony_select" id="colony_select" class="form-control"></select>
        </div>

        <div class="form-group col-12 col-lg-6">
            {% for error in form.adress_type.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <label for="adress_type">
                {{ form.adress_type.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.adress_type }}
        </div>
        
        <div class="form-group col-12 col-lg-6">
            {{ form.colony }}
        </div>


        <button
            type="submit"
            class="btn btn-primary w-100"
        >

        Actualizar perfil

        </button>

    </div>

</form>
{% endblock %}


{% block script %}

<script>

    $(document).ready(function(){
        $('#{{form.zip_code.id_for_label}}').on('input', function(){
            var zip_code = $(this).val()
            if(zip_code.length < 5){
                return
            }

            $.ajax({
                url: `https://api.copomex.com/query/info_cp/${zip_code}?type=simplified&token=6e3f0031-4f8a-4b47-9d13-740ac17c2b8a`,
                method: 'GET',
                success: function(response) {
                    if(response.error) {
                        return Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Ocurrió un error al obtener la información del código postal'
                        })
                    } else {
                        var info = response.response
                        $('#{{ form.state.id_for_label }}').val(info.estado);
                        $('#{{ form.city.id_for_label }}').val(info.municipio);
                        $('#{{ form.colony.id_for_label }}').empty();
                        $.each(info.asentamiento, function(index, asentamiento) {
                            $('#colony_select').append(new Option(asentamiento, asentamiento));
                        });
                    }
                },
                error: function(error){
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al obtener la información del código postal'
                    })
                }
            })
        })
    })

    $('#updateProfile').submit(function(){
        var selectedColony = $('#colony_select').val()
        $('#{{ form.colony.id_for_label }}').val(selectedColony)
    })

</script>
  
{% endblock script %}