{% extends "layouts/_base.html" %}

{% block content %}
<form method="post" class="mb-5">
    {% csrf_token %}

    <div class="row">

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group col-12">
            <label for="old_password">
                {{ form.old_password.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.old_password }}
            <small>
                {{ form.old_password.help_text}}
            </small>
        </div>
    
        <div class="form-group col-12 ">
            <label for="new_password1">
                {{ form.new_password1.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.new_password1 }}
            <small>
                {{ form.new_password1.help_text}}
            </small>
        </div>

        <div class="form-group col-12 ">
            <label for="new_password2">
                {{ form.new_password2.label}}
                <small class="text-danger">
                    *
                </small>
            </label>
            {{ form.new_password2 }}
        </div>


        <button
            type="submit"
            class="btn btn-primary w-100"
        >

        Registrar nuevo contacto de emergencia

        </button>

    </div>

</form>
{% endblock %}
